@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #3298dc;
$blue-invert: rgb(14, 13, 13);

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $blue-invert;
$link: $primary !default;
$link-invert: $primary-invert !default;
$link-focus-border: $primary !default;

// 4. Import the rest of Bulma

@import "bulma/";
