<footer id="footer">

  <div class="footer-top">
  <span class="footer-left">
    {{ partial "social.html" . }}
  </span>
  <span class="footer-right">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }}
  </span>
  </div>
  <div class="footer-bottom">
    <nav class="footer-nav">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
