{{ with .Site.Params.social }}
<a   href="https://github.com/{{.}}" rel="me" title="GitHub"><span class="icon"><ion-icon size="small" name="logo-github"></ion-icon></span></a>
{{ end }}
{{ with .Site.Params.social }}
<a href="https://linkedin.com/in/{{.}}" rel="me" title="LinkedIn"><span class="icon"><ion-icon size="small" name="logo-linkedin"></ion-icon></span></a>
{{ end }}
{{ with .Site.Params.social }}
<a href="mailto:{{.}}" title="Email"><span class="icon"><ion-icon size="small" name="mail-outline"></ion-icon></span></a>
{{ end }}
{{ with .Site.Params.social }}
<a href="https://twitter.com/{{.}}" rel="me" title="Twitter"><span class="icon"><ion-icon size="small" name="logo-twitter"></ion-icon></span></a>
{{ end }}